.carousel-item {
    transition: inherit;
    animation: fade2 4s infinite;
    -webkit-animation: fade2 4s infinite;
    
}
section.pt-pb .overview-title.overview-details {
    margin-bottom: 40px;
}
section.details-subtitle p {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

section.pt-pb {
    margin: 30px 0 30px 0;
}
.box img {
    max-height: 382px;
    width: 100%;
}
.box {
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
    box-shadow: 0px 0px 6px #5151517d;
}
.box:before,
.box:after {
    content: "";
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5%;
    left: 5%;
    transition: all 0.3s ease-in-out;
}

.box:after {
    top: auto;
    left: auto;
    bottom: 5%;
    right: 5%;
}

.box:hover:before,
.box:hover:after {
    width: 90%;
    height: 90%;
}

/* .box img {
    width: 100%;
    height: auto;
} */

.box .box-content {
    width: 100%;
    height: 100%;
    padding-top: 25%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.2s ease 0.3s;
}

.box:hover .box-content {
    opacity: 1;
}

.box .box-content:before,
.box .box-content:after {
    content: "";
    width: 85%;
    height: 85%;
    border: 2px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.3s ease 0s;
}

.box .box-content:before {
    width: 0;
}

.box .box-content:after {
    height: 0;
}

.box:hover .box-content:before {
    width: 85%;
    /* border-top: 2px solid #3dbbff;
    border-bottom: 2px solid #3dbbff; */
    transition-delay: 0.4s;
}

.box:hover .box-content:after {
    height: 85%;
    /* border-left: 2px solid #3dbbff;
    border-right: 2px solid #3dbbff; */
    transition-delay: 0.4s;
}

.box .title {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.box .post {
    display: block;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

/* .explore-btn a {
    background: #ffffff;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    font-size: 18px;
    margin: 20px 0;
    display: inline-block;
    border-radius: 6px;
    color: #000000;
    transition-delay: 2s;
} */

.btnExplore{
	padding: 10px 50px;
border: 1px solid #fffef9;
text-transform: uppercase;
color: #fffef9;
font-size: 14px;
border-radius: 2px;
margin: 20px 0 0 0;
display: inline-block;
cursor: pointer;
position: relative;
background: rgba(183,183,183,.27);
}

.btnExplore:hover {
    color: #000 !important;
	background:rgba(254, 178, 14, 0.6);
	border: 1px solid rgba(254, 178, 14, 0.6);
}

.btnExplore::before,
.btnExplore::after {
    background: rgba(254, 178, 14, 0.6);
    content: '';
    position: absolute;
    z-index: -1;
}

.btnExplore::hover {
    color: #000000;
}

.btnExplore a:hover {
    text-decoration: none;
	background:rgba(254, 178, 14, 0.6);
}

.btnExplore::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.btnExplore:hover:after {
    width: 100%;
}

.btnExplore::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.title-box {
    text-align: center;
    font-weight: 600;
    margin: 20px 0 20px 0;
}

.title-box p{
	margin-bottom:0 !important;
}

.overview-title h1 {
    text-align: center;
    font-size: 24px;
    color: #000000;
}

div.line-view {
     width: 60px;
    background-color: #000;
    padding: 2px;
    margin: 0 auto;
}

.overview-title {
    margin: 50px 0;
}

.over-add p {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
}

section.overview {
    background: #e2e2e2;
    padding: 50px 0 50px 0;
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #929292;
}

.download {
    display: table;
    margin: 20px auto;
    text-align: center;
}

.download a {
    border: 1px solid #000000;
    padding: 10px 25px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.contact-btn a {
    border: 1px solid #fff;
    padding: 10px 25px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.download a:hover {
    background: #fec503;
    color: black;
    border-color: #fec503;
    text-decoration: none;
}

.image-social {
    padding: 10px;
}

.icon {
    display: inline-block;
    font-size: 16px;
    line-height: 2;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    border-radius: 100%;
    background: #eee;
    text-align: center;
	color:#fec503;
}

.image-box {
    box-shadow: 0px 0px 6px #5151517d;
}

.gallry {
    margin: 40px;
}

.overview-title.overview-details {
    margin: 20px 0;
}

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #3dbbff;
    border-radius: 5px;
    text-align: center;
    color: #3dbbff;
}
.active {
    /* background-color: #42B32F; */
    color: #fff;
}
.filter-button:focus{
    border:none;
    box-shadow:none;
}
button.btn.btn-default.filter-button {
    margin: 6px 6px;
}
.filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

.tabing-filter {
    width: 100%;
    margin: 20px 0;
}
.map-part iframe{
    height: 400px;
    width: 100%;
}
section#contact {
    padding: 50px 0 50px 0;
}
h2.section-heading.text-uppercase {
    margin: 0 0 40px 0;
}
span.footer-item:hover {
    color: #898989;
    padding-left: 20px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}
.col-md-12.footer-content-2 i:hover {
    color: #ffffff;
}
.about-title h1 {
    text-align: left;
    font-size: 32px;
    color: #000000;
}
.about-us {
    /* padding: 70px 0 20px 0; */
}
@media only screen and (max-width:990px) {
    .col-md-12.footer-content-2 .row {
        padding: 0;
        margin: 0;
    }
    span.line-view{
        width: 30%;
    }

    .box img {
        min-height: auto;
    }
    .box {
        margin-bottom: 30px;
    }

    .carousel-item {
        height: auto !important;
    }

    .overview-title {
        margin: 0;
    }

    .learnMoreBlock {
        display: none;
    }

    .box .box-content {
        opacity: 1;
        padding-top: 60px;
        background: rgba(0, 0, 0, 0.5);
    }

    .box .title {
        font-size: 16px;

    }

    .box .post {
        font-size: 12px;
    }

    .explore-btn a {
        width: 60%;
    }
}

ul#mainNav {
    display: table;
    margin: 0 auto ;
    background: #212529;
    width: 100%;
    text-align: center;
}
.lauout li {
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    color: #ffffff;
}
.lauout li a{
    color: #ffffff;
}
.lauout li a:hover{
    text-decoration: none;
}

.contat-form input#name,input#email ,input#phone {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.col-md-8.contat-form .form-group {
    margin-bottom: 51px;
}
.download.contact-btn a {
    margin-right: 20px;
}




.project-header-bottom-line {
    width: 55px;
    background-color: #000;
    padding: 1px;
    margin: 3px auto;
    opacity: 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.commerical-projects:hover .project-header-bottom-line {
    opacity: 1;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}