<div class="divContact">
	<div class="info-btn call-btn">
		<a href="tel:+91 79 4020 0000"><i class="fa fa-phone fa-contact"></i></a>
	</div>

	<div class="open">
		<div class="txt-hld"> 
			Call: +91 79 4020 0000
		</div>
	</div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="index.html">Vedant Builders</a>
		
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav text-uppercase ml-auto">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="commercial.html">Commercial</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#portfolio">Residential</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#team">Redevelopment</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#contact">Joint Development</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#about">About</a>
				</li>
			</ul>
		</div>
	</div>
</nav>